*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.container {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f3;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 7rem 0;
}

.button {
    position: relative;
    font-family: inherit;
    transition: all 0.1s ease-in;
    display: flex;
    gap: 1.65rem;
    cursor: pointer;
    border-radius: 3rem;
    padding: 1.2rem 3rem;
    background-color: #3a393b;
    color: #fff;
    border: none;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    min-width: 15rem;
    justify-content: center;
}

.button:hover {
    background-color: #2e77f2;
}

.button:has(input:checked) {
    background-color: #2e77f2;
}

.button:active {
    transform: translateY(0.2rem);
}

.arrow {
    position: relative;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    border-left: 1rem solid #fff;
}

.arrow::after {
    transition: transform 0.4s ease-in-out;
    content: '';
    position: absolute;
    background-color: transparent;
    width: 1.5rem;
    height: 2rem;
    top: -1rem;
}

.arrow::before {
    transition: all 0.4s ease-in-out;
    content: '';
    position: absolute;
    background-color: transparent;
    width: 1rem;
    height: 1.6rem;
    top: -0.8rem;
}

.label {
    cursor: pointer;
}

.visually-hidden {
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

.button:has(input:checked) > .arrow::before {
    transition: all 0.4s ease-in-out;
    transform: translateX(-1rem);
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 30%,
        rgba(46, 119, 242, 1) 30%,
        rgba(46, 119, 242, 1) 70%,
        rgba(255, 255, 255, 1) 70%
    );
}

@keyframes back {
    0% {
        transform: translateX(0rem);
    }
    20% {
        transform: translateX(-0.8rem);
    }
    100% {
        transform: translateX(0rem);
    }
}
@keyframes slide {
    0% {
        transform: translateX(-1rem);
    }
    to {
        transform: translateX(0rem);
    }
}
.move {
    animation-name: slide;
    animation-duration: 0.3s;
}
.back {
    animation-name: back;
    animation-duration: 0.5s;
}
